/* style.css */
.todo{
    font-size: 50px;
    display: inline;
    padding: 30px;
}
.btn{
    display: inline-block;
    display: inline;
    width: 40px;
    height: 40px;
}
.submit{
    border-radius: 10px;
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 0px;
    font-size: 20px;
}
input{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    box-shadow: none;
    border: 0px;
    height: 50px;
}
h1{
    font-size: 50px;
    margin-top: 0;
    padding: 25px;
    text-align: center;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
.TodoForm{
    margin: 10px;
}
.todos{
    display: inline-block;
    display: inline-block;
    background-color: white;
    width: 400px;
    border-radius: 30px;
}
