/* style.css */
.todo{
    font-size: 25px;
    display: inline;
    padding: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
dialog{
    padding: 100px;
}
.btn{
    position: absolute;
    left: 5px;
    top: 0;
    margin-top: 3px;
    display: inline-block;
    display: inline;
    width: 30px;
    height: 30px;
}
.deadline{
    width: 200px;
}
.submit{
    border-radius: 10px;
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 0px;
    font-size: 20px;
}
input{
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    box-shadow: none;
    border: 0px;
    height: 50px;
}
h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    margin-top: 0;
    padding: 25px;
    text-align: center;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
.TodoForm{
    position: relative;
    border: 1px solid lightgray;
}
.todos{
    display: inline-block;
    display: inline-block;
    background-color: white;
    width: 350px;
    margin-top: 10px;
}
